<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goncharuk.lessons31_40.lesson32">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ActivityWebView"
            android:label="@string/activity_web_view_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="@string/data_scheme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLesson32" />
    </application>

</manifest>